apiVersion: v1
kind: ConfigMap
metadata:
  name: erp-config
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "erp-system.labels" . | nindent 4 }}
data:
  ASPNETCORE_ENVIRONMENT: {{ .Values.env.ASPNETCORE_ENVIRONMENT | quote }}
  DAPR_HTTP_PORT: "3500"
  DAPR_GRPC_PORT: "50001"
  
  {{- if .Values.postgresql.enabled }}
  ConnectionStrings__DefaultConnection: "Host={{ .Release.Name }}-postgresql;Port=5432;Database={{ .Values.postgresql.auth.database }};Username={{ .Values.postgresql.auth.username }}"
  {{- end }}
  
  {{- if .Values.redis.enabled }}
  Redis__Configuration: "{{ .Release.Name }}-redis-master:6379"
  {{- end }}
