{{- range $name, $service := .Values.services }}
{{- if $service.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $name }}-service
  namespace: {{ $.Values.global.namespace }}
  labels:
    app: {{ $name }}
    {{- include "erp-system.labels" $ | nindent 4 }}
spec:
  selector:
    app: {{ $name }}
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  type: {{ (default "ClusterIP" (index $service "service" "type")) }}
{{- end }}
{{- end }}
