**/.vs/
**/.vscode/
**/bin/
**/obj/
**/charts/
**/docker-compose*
**/docker-compose.override.yml
**/.env
**/.env.*
**/.git
**/.gitignore
**/LICENSE
**/README.md
**/test_output.log
**/test_results.log
**/test_results_utf8.log
**/build_error.txt
**/build_errors.txt
**/build_log.txt
